{% extends "base.html" %}

{% block header %}
<h1 style="text-align: center; width:75%; margin-left: 10%;">
  {% block title %}Posts{% endblock %}
</h1>
{% endblock %}

{% block content %}
<!-- <a href="{{ url_for('views.home') }}">
  <img src="{{ url_for('static', filename='/BAK.png') }}" alt="BAK">
</a> -->
<a href="{{ url_for('views.home', page=page_num) }}">
  <p><i class="arrow left"></i>Back</p>
</a>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>{{ post.title.capitalize() }}</h2>
      <p>Created by <strong>@{{ post.author.name.capitalize() }}</strong> on {{ post.created.strftime('%d-%m-%Y') }}</p>
      <h4>{{ post.content}}</h4>
    </div>
  </div>
</div><br>
{% endblock %}