{% extends "base.html" %}

{% block header %}
<h1>{% block title %}{{post.author.name.capitalize()}} Update your {{post.title}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<form autocomplete="off" method="POST">
  <div>
    <label for="title"><b>Title :- </b></label>
    <input type="text" value="{{post.title}}" name="title" required><br>

    <label for="content"><b>content :- </b></label>
    <input type="text" value="{{post.content}}" name="content" required><br>
    <br>
    <button type="submit" class="button">Submit</button>
  </div>
</form>
{% endblock%}
