{% extends "base.html" %}

{% block header %}
<h1>{% block title %}Create New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<form autocomplete="off" method="POST">
  <div>
    <label for="title"><b>Title :- </b></label>
    <input type="text" placeholder="Write Title of Blog"  name="title" required><br>

    <label for="content"><b>content :- </b></label>
    <input type="text" placeholder="Write your Content Here" name="content" required><br>
    <br>
    <button type="submit" class="button">Submit</button>
  </div>
</form>
{% endblock%}